$main-color = #f1a8b3
$main-color-dark = rgba(241, 168, 179, 0.5)
$sub-color = #f1a8b3
$sub-color-dark = rgba(245, 240, 242, 0.9)
$btn-text-color = #fff
$title-color = #5F505F
$title-color-dark = #e4dbdd
$hover-color = #bbc5cf
$active-color = #93a3b3
